/*
 * This file is part of elliotwright.co
 *
 * (c) Elliot Wright <elliot@elliotwright.co>
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */

/**
 * Articles
 */

.article-container {
    margin: 0 auto;
    padding: 0 $screen-gutter;
    width: $screen-phone - $screen-gutter;

    @include media(min-width $screen-tablet) {
        width: $screen-tablet - $screen-gutter;
    }

    @include media(min-width $screen-med) {
        width: $screen-med - $screen-gutter;
    }
}

.article-head {
    padding: 100px 0 60px;

    hr {
        background: $purple;
        height: 3px;
        margin: 20px 0;
        width: 50%;
    }
}

.article-title,
.article-subtitle {
    line-height: 1;
    margin: 0;
    text-transform: uppercase;
}

.article-title {
    font-size: 60px;
    font-weight: $font-weight-bold;
}

.article-subtitle {
    font-size: 40px;
    font-weight: $font-weight-normal;
}

.article-meta,
.article-content {
    font-family: $font-stack-serif;
}

.article-content {
    font-size: 17px;
    font-weight: $font-weight-light;
    line-height: 1.9em;

    blockquote,
    p,
    .gist {
        margin-bottom: 40px;
    }

    *:last-child {
        margin-bottom: 0;
    }
}
